- var companyName = "Gas Capital"
- var companyAdress = "г. Москва, ул.&nbsp;Пушкинская 39, офис 111"
//- links 
- var mainPageLink ="http://localhost:3000//"

- var cabinetLink = "#"
- var partnersLink = "#"

- var vkLink = "#"
- var instLink = "#"
- var fbLink = "#"
- var tgLink = "#"

- var phoneLink = "tel:84955553575"
- var phoneNumber = "8 495 555-35-75"
- var mailAdress = "info@zhk.com"

- var agreementLink= `${mainPageLink}agreement.pdf`
- var policyLink= `${mainPageLink}policy.pdf`
- var registrationLink= `${mainPageLink}registration.pdf`
- var licenseLink= `${mainPageLink}license.pdf`

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="

- var assets = "assets/images/"
- var modules = `${mainPageLink}local_modules/images/`

- var assetsIco = "assets/images/icons/"
- var modulesIco = `${mainPageLink}local_modules/images/icons/`

- var iAlt = companyName

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1210

//- colors = "#FFDD2D"
- var dark = "#424242"

//- iconset
-
    var iconset = {
        oil: `
        <img src="${modulesIco}oil.svg" data-uk-img alt="">`,
        gold: `
        <img src="${modulesIco}gold.svg" data-uk-img alt="">`,
        logo: `
        <img src="${modulesIco}logo.svg" data-uk-img alt="${companyName}">`,
        pdf: `
        <img src="${modulesIco}pdf.svg" data-uk-img alt="">`,
        tractor: `
        <img src="${modulesIco}tractor.svg" data-uk-img alt="">`,


        angleleft: `
        <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2184 0.711999C10.1762 -0.237333 8.48648 -0.237333 7.4443 0.711999L0.781634 6.78108C-0.260546 7.73041 -0.260546 9.26959 0.781634 10.2189L7.4443 16.288C8.48648 17.2373 10.1762 17.2373 11.2184 16.288C12.2605 15.3387 12.2605 13.7995 11.2184 12.8502L6.44274 8.5L11.2184 4.14983C12.2605 3.2005 12.2605 1.66133 11.2184 0.711999Z" fill="#424242"/>
        </svg>`,
        angleright: `
        <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.716499 0.711999C1.67183 -0.237333 3.22073 -0.237333 4.17606 0.711999L10.2835 6.78108C11.2388 7.73041 11.2388 9.26959 10.2835 10.2189L4.17606 16.288C3.22073 17.2373 1.67183 17.2373 0.716499 16.288C-0.238833 15.3387 -0.238833 13.7995 0.716499 12.8502L5.09416 8.5L0.716499 4.14983C-0.238833 3.2005 -0.238833 1.66133 0.716499 0.711999Z" fill="#424242"/>
        </svg>`,
        arrowdown: `
        <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M6 1V13" stroke="#424242" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11 7L6 13L1 7" stroke="#424242" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>`,
        bag: `
        <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M11.0113 0C13.8121 0 16.0821 2.31579 16.116 5.17579H16.3532C19.4702 5.17579 22 7.78105 22 10.9768V17.3684C22 20.5642 19.4702 23.1579 16.3532 23.1579H5.64682C2.52977 23.1579 0 20.5642 0 17.3684V10.9768C0 7.78105 2.52977 5.17579 5.64682 5.17579H5.88398C5.90657 3.78632 6.43737 2.48947 7.39733 1.51684C8.36858 0.532631 9.61088 0.0347368 11.0113 0ZM15.2916 6.55368C14.8285 6.55368 14.4446 6.94737 14.4446 7.4221V8.76526C14.4446 9.24 14.8285 9.63368 15.2916 9.63368C15.7659 9.63368 16.1386 9.24 16.1386 8.76526V7.4221C16.1386 6.94737 15.7659 6.55368 15.2916 6.55368ZM6.60678 6.55368C6.14374 6.55368 5.75975 6.94737 5.75975 7.4221V8.76526C5.75975 9.24 6.14374 9.63368 6.60678 9.63368C7.08111 9.63368 7.4538 9.24 7.4538 8.76526V7.4221C7.4538 6.94737 7.08111 6.55368 6.60678 6.55368ZM11.0113 1.73684C10.1417 1.73684 9.23819 2.09579 8.58316 2.75579C7.95072 3.40421 7.60062 4.26105 7.57803 5.17579H14.422C14.3881 3.27684 12.8747 1.73684 11.0113 1.73684Z" fill="#424242"/>
        </svg>`,
        bitcoin: `
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M22.1924 3.80758C19.737 1.3522 16.4724 0 13 0C9.52758 0 6.26295 1.3522 3.80758 3.80758C1.3522 6.26295 0 9.52758 0 13C0 16.4724 1.35225 19.737 3.80758 22.1924C6.2629 24.6478 9.52758 26 13 26C16.4724 26 19.737 24.6478 22.1924 22.1924C24.6478 19.737 26 16.4724 26 13C26 9.52758 24.6477 6.263 22.1924 3.80758ZM17.0625 15.4375C17.0625 16.7419 16.2898 17.8686 15.1783 18.3855C15.0887 18.4271 15.0312 18.5166 15.0312 18.6153V19.477C15.0312 19.9146 14.695 20.291 14.258 20.3116C13.7914 20.3335 13.4062 19.9618 13.4062 19.5V18.9414C13.4062 18.8012 13.2926 18.6875 13.1523 18.6875H12.0352C11.8949 18.6875 11.7812 18.8012 11.7812 18.9414V19.477C11.7812 19.9146 11.445 20.291 11.008 20.3116C10.5414 20.3335 10.1562 19.9618 10.1562 19.5V18.9414C10.1562 18.8012 10.0426 18.6875 9.90234 18.6875H8.5542C8.11672 18.6875 7.74028 18.3513 7.71966 17.9143C7.69768 17.4477 8.06945 17.0625 8.53125 17.0625H9.08984C9.23005 17.0625 9.34375 16.9488 9.34375 16.8086V13V9.19141C9.34375 9.0512 9.23005 8.9375 9.08984 8.9375H8.5542C8.11672 8.9375 7.74028 8.60128 7.71966 8.1643C7.69768 7.69773 8.06945 7.3125 8.53125 7.3125H9.90234C10.0426 7.3125 10.1562 7.1988 10.1562 7.05859V6.52295C10.1562 6.08542 10.4925 5.70898 10.9295 5.68841C11.3961 5.66648 11.7812 6.03825 11.7812 6.5V7.05859C11.7812 7.1988 11.8949 7.3125 12.0352 7.3125H13.1523C13.2926 7.3125 13.4062 7.1988 13.4062 7.05859V6.52295C13.4062 6.08542 13.7425 5.70898 14.1795 5.68841C14.6461 5.66648 15.0312 6.03825 15.0312 6.5V7.38466C15.0312 7.48343 15.0887 7.57286 15.1783 7.6145C16.2898 8.13145 17.0625 9.25813 17.0625 10.5625C17.0625 11.4402 16.7123 12.2373 16.1448 12.8226C16.0486 12.9217 16.0486 13.0782 16.1448 13.1774C16.7123 13.7627 17.0625 14.5598 17.0625 15.4375Z" fill="#424242"/>
        </svg>`,
        calling: `
        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.57347 0.425812C2.7867 0.443949 2.99387 0.552775 3.19719 0.750639C3.50464 1.05018 4.37409 2.14558 4.44131 2.46711C4.5157 2.82436 4.3526 3.10852 4.20769 3.35805C4.17679 3.41169 4.13514 3.47535 4.08952 3.54508C3.91637 3.80976 3.68591 4.16204 3.76746 4.38694C4.35205 5.81376 5.70252 7.05866 7.13839 7.64346C7.36044 7.72368 7.71461 7.49294 7.98 7.32004C8.04914 7.275 8.11225 7.23388 8.16543 7.20321L8.17137 7.1998C8.42115 7.05662 8.70326 6.89492 9.05913 6.97017C9.38146 7.03777 10.4801 7.92431 10.781 8.23155C10.9782 8.43271 11.0879 8.64047 11.1049 8.84823C11.1347 9.66332 10.0206 10.5938 9.81784 10.7098C9.54841 10.9027 9.2349 11 8.88282 11C8.52302 11 8.1219 10.8983 7.68442 10.6955C5.31077 9.71059 1.68473 6.17706 0.72601 3.83567C0.328198 2.96397 0.325443 2.24506 0.719399 1.70478C0.87643 1.45141 1.77178 0.392285 2.57347 0.425812ZM7.23582 1.91207L7.29614 1.91947C7.27588 1.91575 7.25575 1.9133 7.23582 1.91207ZM7.19239 6.93225e-05L7.20007 1.33702e-08L7.2617 0.00436137C7.24113 0.00143005 7.22055 -5.07071e-06 7.20007 1.33702e-08C7.19751 6.49231e-07 7.19495 2.37872e-05 7.19239 6.93225e-05Z" fill="#424242"/>
        </svg>`,
        download: `
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M8.76859 4.55002V0.741453C8.76859 0.336491 9.09159 -0.000976562 9.5001 -0.000976562C9.86584 -0.000976562 10.1757 0.28259 10.2248 0.641775L10.2316 0.741453V4.55002L14.7725 4.55031C17.0335 4.55031 18.8911 6.40182 18.9954 8.71091L19 8.91581V13.7031C19 16.0284 17.207 17.9371 14.9796 18.0443L14.782 18.049H4.218C1.957 18.049 0.108385 16.2068 0.0045959 13.8892L0 13.6835V8.906C0 6.58072 1.78401 4.66278 4.0109 4.55508L4.2085 4.55031H8.7685V10.6326L7.2485 9.06296C6.9635 8.76866 6.498 8.76866 6.213 9.06296C6.0705 9.21011 6.004 9.40631 6.004 9.60252C6.004 9.75163 6.04656 9.90702 6.13654 10.0386L6.213 10.1323L8.9775 12.9968C9.1105 13.144 9.3005 13.2224 9.5 13.2224C9.65833 13.2224 9.81667 13.1679 9.94201 13.0646L10.013 12.9968L12.7775 10.1323C13.0625 9.83796 13.0625 9.35726 12.7775 9.06296C12.5184 8.79541 12.1101 8.77109 11.8239 8.98999L11.742 9.06296L10.2315 10.6326V4.55031L8.76859 4.55002Z" fill="#424242"/>
        </svg>`,
        filter: `
        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M19.8734 13.2235C22.1533 13.2235 24 15.0391 24 17.2791C24 19.5178 22.1533 21.3333 19.8734 21.3333C17.5947 21.3333 15.7467 19.5178 15.7467 17.2791C15.7467 15.0391 17.5947 13.2235 19.8734 13.2235ZM9.69995 15.5495C10.6986 15.5495 11.5093 16.346 11.5093 17.3271C11.5093 18.307 10.6986 19.1047 9.69995 19.1047H1.80932C0.810662 19.1047 0 18.307 0 17.3271C0 16.346 0.810662 15.5495 1.80932 15.5495H9.69995ZM4.12664 0C6.40663 0 8.25329 1.81558 8.25329 4.05427C8.25329 6.29427 6.40663 8.10985 4.12664 8.10985C1.84799 8.10985 0 6.29427 0 4.05427C0 1.81558 1.84799 0 4.12664 0ZM22.192 2.27799C23.1893 2.27799 24 3.07444 24 4.05427C24 5.03542 23.1893 5.83186 22.192 5.83186H14.3014C13.3027 5.83186 12.4921 5.03542 12.4921 4.05427C12.4921 3.07444 13.3027 2.27799 14.3014 2.27799H22.192Z" fill="#424242"/>
        </svg>`,
        graph: `
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M11.8253 5.03042C12.6585 4.87446 13.4939 5.29048 13.8575 6.04241C13.948 6.17886 14.0204 6.32605 14.073 6.48044C14.3039 10.0451 14.5503 13.5493 14.7812 17.0535C14.7759 17.4177 14.8332 17.7803 14.9505 18.1259C15.2268 18.8059 15.9143 19.2374 16.6594 19.1983L27.9749 18.4733L28.0519 18.5035L28.2584 18.5184C28.6674 18.5707 29.0488 18.7574 29.3384 19.0512C29.6762 19.394 29.8613 19.8544 29.8534 20.3311C29.4072 26.8287 24.6435 32.2576 18.1607 33.6563C11.6779 35.0549 5.0323 32.0875 1.84923 26.3729C0.91327 24.727 0.321814 22.9142 0.109572 21.041C0.0272533 20.486 -0.00878832 19.9253 0.00180538 19.3645C0.0232601 12.4553 4.94237 6.49168 11.8253 5.03042ZM18.553 0.000669907C26.3234 0.233281 32.8174 5.87413 33.9944 13.4133C34.0019 13.4584 34.0019 13.5043 33.9944 13.5493L33.9923 13.7621C33.9667 14.0435 33.8512 14.3118 33.6594 14.5272C33.4196 14.7965 33.0803 14.9609 32.7166 14.9842L19.6615 15.8451L19.4464 15.8494C19.09 15.832 18.7483 15.6934 18.4821 15.4538C18.1627 15.1663 17.9816 14.76 17.9834 14.3347L17.1059 1.51111V1.29964C17.1218 0.938986 17.2834 0.599373 17.5549 0.355694C17.8263 0.112015 18.1854 -0.0157148 18.553 0.000669907Z" fill="#424242"/>
        </svg>`,
        user: `
        <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9216 15.8103C15.3018 15.8103 19.8432 16.6548 19.8432 19.9205C19.8432 23.1836 15.2727 24 9.9216 24L9.55611 23.9987C4.33732 23.9604 0 23.0813 0 19.8898C0 16.6267 4.57046 15.8103 9.9216 15.8103ZM9.9216 0C13.5661 0 16.4867 2.82487 16.4867 6.34988C16.4867 9.8749 13.5661 12.6998 9.9216 12.6998C6.27844 12.6998 3.35652 9.8749 3.35652 6.34988C3.35652 2.82487 6.27844 0 9.9216 0Z" fill="#424242"/>
        </svg>`,
        market: `
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M7.10373 0C3.1089 0 0.853666 2.39856 0.841919 6.62743V18.241C0.841919 22.4686 3.1089 24.8684 7.10373 24.8684H18.0733C22.0682 24.8684 24.334 22.4686 24.334 18.241V6.62743C24.334 2.39856 22.0682 0 18.0733 0H7.10373ZM12.0007 5.13533C12.3307 4.92395 12.7301 4.92395 13.046 5.13533C13.3644 5.34547 13.5394 5.73217 13.5053 6.11763V18.7881C13.4454 19.3228 13.0237 19.7207 12.5304 19.7207C12.0241 19.7207 11.6025 19.3228 11.5555 18.7881V6.11763C11.5085 5.73217 11.6835 5.34547 12.0007 5.13533ZM17.486 9.21375C17.8032 9.00237 18.2037 9.00237 18.5197 9.21375C18.838 9.42513 19.013 9.80935 18.9778 10.1961V18.7881C18.932 19.3228 18.5091 19.7207 18.004 19.7207C17.4978 19.7207 17.0761 19.3228 17.0291 18.7881V10.1961C16.9927 9.80935 17.1701 9.42513 17.486 9.21375ZM6.6104 13.7274C6.92636 13.516 7.32573 13.516 7.65462 13.7274C7.97293 13.9387 8.14795 14.3105 8.10097 14.7097V18.7881C8.05398 19.3228 7.6323 19.7207 7.12605 19.7207C6.63271 19.7207 6.21103 19.3228 6.15112 18.7881V14.7097C6.11706 14.3105 6.29208 13.9387 6.6104 13.7274Z" fill="#424242"/>
        </svg>`,
        minus: `
        <svg width="15" height="3" viewBox="0 0 15 3" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M0 3V0H5.87558H9.12442H15V3H9.12442H5.87558H0Z" fill="#FFDD2D"/>
        </svg>`,
        mail: `
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M11.9512 0C13.024 0 14.056 0.424 14.8152 1.1848C15.5752 1.944 16 2.968 16 4.04V10.36C16 12.592 14.184 14.4 11.9512 14.4H4.048C1.8152 14.4 0 12.592 0 10.36V4.04C0 1.808 1.8072 0 4.048 0H11.9512ZM12.856 4.16C12.688 4.1512 12.528 4.208 12.4072 4.32L8.8 7.2C8.336 7.5848 7.6712 7.5848 7.2 7.2L3.6 4.32C3.3512 4.136 3.0072 4.16 2.8 4.376C2.584 4.592 2.56 4.936 2.7432 5.176L2.848 5.28L6.488 8.12C6.936 8.472 7.4792 8.664 8.048 8.664C8.6152 8.664 9.168 8.472 9.6152 8.12L13.224 5.232L13.288 5.168C13.4792 4.936 13.4792 4.6 13.2792 4.368C13.168 4.2488 13.0152 4.176 12.856 4.16Z" fill="#424242"/>
        </svg>`,
        note: `
        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M14.6567 0C18.0889 0 20 1.958 20 5.313V16.676C20 20.086 18.0889 22 14.6567 22H5.34444C1.96667 22 0 20.086 0 16.676V5.313C0 1.958 1.96667 0 5.34444 0H14.6567ZM5.64444 15.114C5.31111 15.081 4.98889 15.235 4.81111 15.521C4.63333 15.796 4.63333 16.159 4.81111 16.445C4.98889 16.72 5.31111 16.885 5.64444 16.841H14.3556C14.7989 16.797 15.1333 16.4219 15.1333 15.983C15.1333 15.532 14.7989 15.158 14.3556 15.114H5.64444ZM14.3556 10.0969H5.64444C5.16556 10.0969 4.77778 10.483 4.77778 10.956C4.77778 11.429 5.16556 11.814 5.64444 11.814H14.3556C14.8333 11.814 15.2222 11.429 15.2222 10.956C15.2222 10.483 14.8333 10.0969 14.3556 10.0969ZM8.96556 5.115H5.64444V5.126C5.16556 5.126 4.77778 5.511 4.77778 5.984C4.77778 6.457 5.16556 6.842 5.64444 6.842H8.96556C9.44445 6.842 9.83333 6.457 9.83333 5.9719C9.83333 5.5 9.44445 5.115 8.96556 5.115Z" fill="#424242"/>
        </svg>`,
        ok: `
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M16.491 0C20.3895 0 23 2.737 23 6.808V16.2046C23 20.263 20.3895 23 16.491 23H6.5205C2.622 23 0 20.263 0 16.2046V6.808C0 2.737 2.622 0 6.5205 0H16.491ZM16.307 8.05C15.916 7.659 15.272 7.659 14.881 8.05L10.1315 12.7995L8.119 10.787C7.728 10.396 7.084 10.396 6.693 10.787C6.302 11.178 6.302 11.8105 6.693 12.213L9.43 14.9385C9.6255 15.134 9.8785 15.226 10.1315 15.226C10.396 15.226 10.649 15.134 10.8445 14.9385L16.307 9.476C16.698 9.085 16.698 8.4525 16.307 8.05Z" fill="#424242"/>
        </svg>`,
        pin: `
        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M5.33334 0C2.39259 0 0 2.39259 0 5.33334C0 6.21616 0.220719 7.09147 0.640312 7.86784L5.04169 15.8281C5.10028 15.9342 5.21194 16 5.33334 16C5.45475 16 5.56641 15.9342 5.625 15.8281L10.028 7.86522C10.446 7.09147 10.6667 6.21613 10.6667 5.33331C10.6667 2.39259 8.27409 0 5.33334 0ZM5.33334 8C3.86297 8 2.66669 6.80372 2.66669 5.33334C2.66669 3.86297 3.86297 2.66669 5.33334 2.66669C6.80372 2.66669 8 3.86297 8 5.33334C8 6.80372 6.80372 8 5.33334 8Z" fill="#B4B4B4"/>
        </svg>`,
        plus: `
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M0 9.06903V5.9295H5.87558V-0.000732422H9.12442V5.9295H15V9.06903H9.12442V14.9993H5.87558V9.06903H0Z" fill="#424242"/>
        </svg>`,
        profit: `
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M22.1924 2.93745C22.1264 3.34994 22.0934 3.76244 22.0934 4.17493C22.0934 7.88738 25.0964 10.8887 28.7924 10.8887C29.2049 10.8887 29.6009 10.8408 30.0134 10.7748V24.0885C30.0134 29.6836 26.7134 33 21.1034 33H8.91161C3.29998 33 0 29.6836 0 24.0885V11.8803C0 6.2704 3.29998 2.93745 8.91161 2.93745H22.1924ZM22.524 12.9693C22.0769 12.9198 21.633 13.1178 21.3674 13.4808L17.3761 18.6452L12.8039 15.0483C12.5234 14.8338 12.1934 14.7496 11.8634 14.7843C11.5351 14.8338 11.2381 15.0136 11.0384 15.2776L6.15612 21.6317L6.05547 21.7802C5.77497 22.3065 5.90697 22.983 6.40197 23.3476C6.63297 23.4961 6.88047 23.5951 7.16096 23.5951C7.54211 23.6116 7.90346 23.412 8.13446 23.1001L12.2759 17.7691L16.9784 21.3017L17.1269 21.399C17.6549 21.6795 18.3149 21.5492 18.6944 21.0525L23.4629 14.8998L23.3969 14.9328C23.6609 14.5698 23.7104 14.1078 23.5289 13.6953C23.349 13.2828 22.9514 13.0023 22.524 12.9693ZM29.0235 0C31.218 0 33 1.78197 33 3.97644C33 6.17091 31.218 7.95288 29.0235 7.95288C26.829 7.95288 25.047 6.17091 25.047 3.97644C25.047 1.78197 26.829 0 29.0235 0Z" fill="#424242"/>
        </svg>`,
        property: `
        <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M7.33318 20.6507V17.2872C7.33318 16.4286 8.03766 15.7325 8.90669 15.7325H12.0834C12.5007 15.7325 12.901 15.8963 13.1961 16.1879C13.4911 16.4794 13.6569 16.8749 13.6569 17.2872V20.6507C13.6543 21.0076 13.796 21.3509 14.0505 21.6042C14.3051 21.8575 14.6514 22 15.0127 22H17.18C18.1922 22.0026 19.1639 21.6071 19.8806 20.9009C20.5972 20.1946 21 19.2357 21 18.2356V8.65354C21 7.8457 20.6375 7.07942 20.0104 6.56113L12.6376 0.743456C11.3551 -0.276582 9.51755 -0.243648 8.27333 0.821676L1.0688 6.56113C0.411976 7.06414 0.0193999 7.8327 0 8.65354V18.2258C0 20.3102 1.71026 22 3.81998 22H5.93779C6.6882 22 7.29805 21.4018 7.30349 20.6604L7.33318 20.6507Z" fill="#424242"/>
        </svg>`,

        rocket: `
        <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M11.6826 15.6208V12.5726C11.6826 5.77199 8.78106 1.66426 7.56746 0.244044C7.4366 0.089589 7.2442 0.00154963 7.04167 5.08265e-06C6.83837 -0.000767193 6.64597 0.0864999 6.51277 0.23941C5.27892 1.65654 2.31892 5.76581 2.31892 12.5726V15.6216L1.75107 16.0008C0.656651 16.7329 0 17.9569 0 19.2667V22.9049C0 23.1204 0.119958 23.3196 0.311579 23.4223C0.503978 23.5243 0.736883 23.5127 0.917599 23.3922L2.76214 22.1743C3.28014 21.833 3.88772 21.65 4.5101 21.65H5.86624V23.4131C5.86624 23.7374 6.13108 24 6.45746 24H7.54332C7.86969 24 8.13453 23.7374 8.13453 23.4131V21.65H9.4899C10.1123 21.65 10.7206 21.8315 11.2394 22.1751L13.0824 23.3922C13.2631 23.5127 13.496 23.5243 13.6884 23.4223C13.88 23.3196 14 23.1204 14 22.9049V19.2667C14 17.9585 13.3426 16.7344 12.2489 16.0008L11.6826 15.6208ZM7.00117 10.8451C5.87481 10.8451 4.96033 9.93919 4.96033 8.82248C4.96033 7.70499 5.87481 6.79989 7.00117 6.79989C8.12675 6.79989 9.04123 7.70499 9.04123 8.82248C9.04123 9.93919 8.12675 10.8451 7.00117 10.8451Z" fill="#424242"/>
        </svg>`,
        secure: `
        <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M11.7386 0.124455L20.3282 2.90815C21.2897 3.21826 21.9398 4.07139 21.9451 5.02748L21.9998 13.3283C22.0167 15.8448 21.0669 18.2853 19.3277 20.1974C18.5277 21.0751 17.5024 21.8289 16.193 22.5031L11.5758 24.8872C11.4312 24.9607 11.2722 24.9987 11.112 25C10.9517 25.0012 10.7915 24.9644 10.6482 24.8921L5.9879 22.5631C4.66422 21.9 3.62977 21.1572 2.82201 20.2918C1.05406 18.3992 0.071719 15.9698 0.0547821 13.4496L3.12872e-05 5.15496C-0.00514839 4.19764 0.633242 3.33839 1.58952 3.01601L10.1466 0.133036C10.6547 -0.0410218 11.2214 -0.0446991 11.7386 0.124455ZM15.8462 9.02332C15.4619 8.66663 14.843 8.66908 14.4639 9.03067L10.1046 13.1811L8.31972 11.5239C7.93539 11.1672 7.31784 11.1708 6.93741 11.5324C6.55829 11.894 6.5622 12.475 6.94653 12.8317L9.42583 15.1362C9.61865 15.3151 9.8688 15.4034 10.1189 15.401C10.3691 15.3997 10.6179 15.309 10.8081 15.1276L15.854 10.3226C16.2332 9.96102 16.2292 9.38001 15.8462 9.02332Z" fill="#424242"/>
        </svg>`,
        star: `
        <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M23.8752 18.0391C23.4867 18.4222 23.3083 18.9762 23.3968 19.5195L24.7301 27.0285C24.8426 27.6649 24.5786 28.309 24.0552 28.6768C23.5422 29.0584 22.8598 29.1042 22.3004 28.7989L15.6578 25.2734C15.4268 25.1482 15.1703 25.0811 14.9079 25.0734H14.5014C14.3604 25.0948 14.2225 25.1406 14.0965 25.2108L7.45234 28.7531C7.12388 28.921 6.75193 28.9805 6.38748 28.921C5.4996 28.7501 4.90717 27.8893 5.05265 26.9812L6.38748 19.4722C6.47597 18.9243 6.29749 18.3673 5.90904 17.9781L0.493249 12.6363C0.0403085 12.1891 -0.117171 11.5176 0.089802 10.9117C0.290776 10.3073 0.803709 9.86624 1.42313 9.76704L8.87715 8.66664C9.44408 8.60711 9.94201 8.25608 10.197 7.73717L13.4816 0.884472C13.5595 0.73185 13.66 0.591439 13.7815 0.472394L13.9165 0.365559C13.987 0.286196 14.068 0.220569 14.158 0.167151L14.3214 0.106103L14.5764 -0.000732422H15.2078C15.7718 0.0587899 16.2682 0.402188 16.5277 0.914996L19.8557 7.73717C20.0957 8.23624 20.5621 8.58269 21.1006 8.66664L28.5546 9.76704C29.1845 9.85861 29.7109 10.3012 29.9194 10.9117C30.1159 11.5237 29.9464 12.1952 29.4845 12.6363L23.8752 18.0391Z" fill="#424242"/>
        </svg>`,
        team: `
        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M11.024 17.7859C17.002 17.7859 22.048 18.736 22.048 22.4098C22.048 26.0808 16.9697 26.9993 11.024 26.9993L10.6179 26.9978C4.81924 26.9547 0 25.9657 0 22.3753C0 18.7043 5.07829 17.7859 11.024 17.7859ZM20.3546 15.5741C22.628 15.531 25.0733 15.8371 25.9759 16.0527C27.8898 16.4192 29.1476 17.1652 29.6687 18.2533C30.1104 19.1445 30.1104 20.1793 29.6687 21.0705C28.8717 22.7551 26.3003 23.297 25.3007 23.4364C25.0938 23.4651 24.9279 23.2926 24.95 23.0885C25.4607 18.42 21.3996 16.2065 20.3487 15.6977C20.3046 15.6733 20.2944 15.6388 20.2988 15.6158C20.3017 15.6014 20.3208 15.5784 20.3546 15.5741ZM11.024 -0.000732422C15.0734 -0.000732422 18.3185 3.17724 18.3185 7.14289C18.3185 11.1085 15.0734 14.2865 11.024 14.2865C6.97605 14.2865 3.72946 11.1085 3.72946 7.14289C3.72946 3.17724 6.97605 -0.000732422 11.024 -0.000732422ZM20.7508 1.19241C24.6623 1.19241 27.7328 4.7944 26.6863 8.80604C25.9803 11.5097 23.425 13.3049 20.5776 13.2316C20.2914 13.2259 20.0111 13.1986 19.7381 13.154C19.5414 13.1195 19.4416 12.9025 19.5546 12.7415C20.6408 11.1762 21.2601 9.29186 21.2601 7.27239C21.2601 5.16236 20.585 3.19751 19.4093 1.58337C19.3712 1.53306 19.3433 1.45688 19.3815 1.39795C19.4108 1.35196 19.4695 1.32608 19.5238 1.31458C19.9201 1.23553 20.3267 1.19241 20.7508 1.19241Z" fill="#424242"/>
        </svg>`,
        fb: `
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M6.10094 17.0444V9.65814H8.59005L8.96279 6.77948H6.10094V4.94167C6.10094 4.10834 6.33319 3.54023 7.53306 3.54023L9.0635 3.5397V0.964909C8.79883 0.92997 7.89038 0.85162 6.83356 0.85162C4.6271 0.85162 3.11659 2.19306 3.11659 4.65677V6.77948H0.621094V9.65814H3.11659V17.0444H6.10094Z" fill="#424242"/>
        </svg>`,
        inst: `
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M9.03048 0.320023C6.64893 0.320023 6.35034 0.330147 5.41512 0.37277C4.48179 0.415392 3.84434 0.563511 3.2866 0.780272C2.71002 1.00433 2.22105 1.30422 1.73348 1.79178C1.24603 2.27923 0.946264 2.76821 0.722203 3.34479C0.505324 3.90264 0.357089 4.54009 0.314584 5.47343C0.271844 6.40864 0.261719 6.70723 0.261719 9.08878C0.261719 11.4701 0.271844 11.7687 0.314584 12.704C0.357089 13.6373 0.505324 14.2748 0.722203 14.8325C0.946264 15.4091 1.24603 15.8982 1.73348 16.3857C2.22105 16.8732 2.71002 17.173 3.2866 17.3971C3.84434 17.6138 4.48179 17.7622 5.41512 17.8047C6.35034 17.8473 6.64893 17.8574 9.03048 17.8574C11.412 17.8574 11.7106 17.8473 12.6458 17.8047C13.5792 17.7622 14.2166 17.6138 14.7744 17.3971C15.3509 17.173 15.8399 16.8732 16.3275 16.3857C16.8149 15.8982 17.1147 15.4091 17.3387 14.8325C17.5556 14.2748 17.7039 13.6373 17.7464 12.704C17.7891 11.7687 17.7992 11.4701 17.7992 9.08878C17.7992 6.70723 17.7891 6.40864 17.7464 5.47343C17.7039 4.54009 17.5556 3.90264 17.3387 3.34479C17.1147 2.76821 16.8149 2.27923 16.3275 1.79178C15.8399 1.30422 15.3509 1.00433 14.7744 0.780272C14.2166 0.563511 13.5792 0.415392 12.6458 0.37277C11.7106 0.330147 11.412 0.320023 9.03048 0.320023ZM9.03048 1.89999C11.3719 1.89999 11.6492 1.90882 12.5738 1.95109C13.4287 1.99018 13.8931 2.13288 14.202 2.25297C14.6113 2.41216 14.9034 2.60208 15.2102 2.90891C15.5171 3.21586 15.7071 3.50786 15.8663 3.91724C15.9863 4.2262 16.1291 4.69045 16.1682 5.54537C16.2102 6.46999 16.2193 6.74738 16.2193 9.08878C16.2193 11.4301 16.2102 11.7075 16.1682 12.632C16.1291 13.4869 15.9863 13.9512 15.8663 14.2602C15.7071 14.6696 15.5171 14.9616 15.2102 15.2685C14.9034 15.5752 14.6113 15.7654 14.202 15.9244C13.8931 16.0446 13.4287 16.1874 12.5738 16.2264C11.6493 16.2685 11.372 16.2775 9.03048 16.2775C6.68896 16.2775 6.41168 16.2685 5.48718 16.2264C4.63226 16.1874 4.16789 16.0446 3.85894 15.9244C3.44967 15.7654 3.15756 15.5752 2.85072 15.2685C2.54389 14.9616 2.35386 14.6696 2.19467 14.2602C2.07469 13.9512 1.93187 13.4869 1.89278 12.632C1.85075 11.7075 1.84168 11.4301 1.84168 9.08878C1.84168 6.74738 1.85075 6.46999 1.89278 5.54537C1.93187 4.69045 2.07469 4.2262 2.19467 3.91724C2.35386 3.50786 2.54389 3.21586 2.85072 2.90891C3.15756 2.60208 3.44967 2.41216 3.85894 2.25297C4.16789 2.13288 4.63226 1.99018 5.48718 1.95109C6.4118 1.90882 6.68908 1.89999 9.03048 1.89999Z" fill="#424242"/>
            <path d="M9.03023 12.0109C7.416 12.0109 6.10731 10.7023 6.10731 9.08805C6.10731 7.47371 7.416 6.16513 9.03023 6.16513C10.6445 6.16513 11.9531 7.47371 11.9531 9.08805C11.9531 10.7023 10.6445 12.0109 9.03023 12.0109ZM9.03023 4.58517C6.54342 4.58517 4.52734 6.60113 4.52734 9.08805C4.52734 11.5749 6.54342 13.5908 9.03023 13.5908C11.517 13.5908 13.5331 11.5749 13.5331 9.08805C13.5331 6.60113 11.517 4.58517 9.03023 4.58517Z" fill="#424242"/>
            <path d="M14.7627 4.40771C14.7627 4.98888 14.2916 5.45996 13.7105 5.45996C13.1294 5.45996 12.6582 4.98888 12.6582 4.40771C12.6582 3.82654 13.1294 3.35546 13.7105 3.35546C14.2916 3.35546 14.7627 3.82654 14.7627 4.40771Z" fill="#424242"/>
        </svg>`,
        tg: `
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M4.52354 6.62163L11.2009 2.42871C11.5297 2.20783 11.6328 2.45422 11.4844 2.62439L5.9427 7.61356L5.65836 10.1037L4.52354 6.62163ZM12.9938 0.501439L1.27209 4.94353C0.631022 5.12875 0.651449 5.7625 1.12559 5.91493L4.06263 6.83236L5.18634 10.2806C5.32304 10.658 5.43465 10.8002 5.66792 10.8034C5.91313 10.8069 6.00701 10.7172 6.2616 10.4919C6.55975 10.2116 7.01388 9.77061 7.73143 9.07234L10.7864 11.3314C11.3487 11.6419 11.7546 11.481 11.8946 10.8089L13.8098 1.32663C14.0152 0.50283 13.5317 0.257096 12.9938 0.501439Z" fill="#424242"/>
        </svg>`,
        vk: `
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9472 0.000976562C6.69199 0.000976562 0 6.69297 0 14.9482C0 23.2034 6.69199 29.8954 14.9472 29.8954C23.2024 29.8954 29.8944 23.2034 29.8944 14.9482C29.8944 6.69297 23.2024 0.000976562 14.9472 0.000976562ZM20.6957 16.8649C20.6957 16.8649 22.0176 18.1696 22.343 18.7753C22.3523 18.7878 22.357 18.8002 22.3601 18.8064C22.4924 19.0291 22.5236 19.2019 22.4582 19.3311C22.3492 19.546 21.9755 19.6519 21.8478 19.6612H19.5123C19.3504 19.6612 19.011 19.6192 18.5999 19.3358C18.2839 19.1147 17.9725 18.7519 17.6688 18.3985C17.2158 17.8722 16.8234 17.4176 16.4279 17.4176C16.3777 17.4175 16.3278 17.4254 16.28 17.4409C15.9811 17.5375 15.598 17.9641 15.598 19.1007C15.598 19.4557 15.3178 19.6597 15.12 19.6597H14.0504C13.686 19.6597 11.7881 19.532 10.1065 17.7586C8.04814 15.5866 6.19531 11.2301 6.17974 11.1896C6.06296 10.9078 6.3043 10.7567 6.56743 10.7567H8.92629C9.2408 10.7567 9.34356 10.9483 9.41519 11.118C9.49926 11.3157 9.80755 12.102 10.3136 12.9864C11.1341 14.4282 11.637 15.0136 12.0403 15.0136C12.1159 15.0127 12.1902 14.9935 12.2567 14.9575C12.783 14.6648 12.6849 12.7886 12.6615 12.3994C12.6615 12.3262 12.66 11.5602 12.3906 11.1927C12.1975 10.9265 11.869 10.8252 11.6697 10.7879C11.7504 10.6766 11.8567 10.5863 11.9796 10.5247C12.3408 10.3441 12.9916 10.3177 13.6378 10.3177H13.9974C14.6981 10.327 14.8787 10.3722 15.1325 10.436C15.6463 10.559 15.6572 10.8906 15.6121 12.0257C15.598 12.348 15.584 12.7123 15.584 13.1421C15.584 13.2355 15.5794 13.3351 15.5794 13.441C15.5638 14.0187 15.5451 14.6742 15.953 14.9435C16.0062 14.9769 16.0677 14.9947 16.1305 14.9949C16.2722 14.9949 16.6988 14.9949 17.8541 13.0128C18.2104 12.3749 18.52 11.7119 18.7806 11.0292C18.8039 10.9887 18.8724 10.8642 18.9534 10.8159C19.0131 10.7854 19.0794 10.77 19.1464 10.7708H21.9195C22.2215 10.7708 22.4286 10.8159 22.4675 10.9327C22.536 11.118 22.4551 11.6832 21.1892 13.3974L20.624 14.1432C19.4765 15.6473 19.4765 15.7236 20.6957 16.8649Z" fill="#FFDD2D"/>
        </svg>`,
        wa: `
        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2725 11.8624C14.0502 11.7406 12.9582 11.1512 12.7534 11.068C12.5487 10.9849 12.3992 10.9416 12.2396 11.1626C12.0802 11.3829 11.6271 11.8766 11.4898 12.0227C11.3519 12.169 11.2192 12.1828 10.9968 12.0607C10.775 11.9391 10.0544 11.6727 9.21859 10.8692C8.5683 10.244 8.14173 9.4859 8.01798 9.25453C7.89424 9.02294 8.01716 8.90496 8.13466 8.79652C8.24028 8.69868 8.37109 8.5402 8.48918 8.41245C8.60704 8.28458 8.6486 8.1918 8.72973 8.04345C8.81073 7.89533 8.77812 7.76158 8.72561 7.64619C8.67309 7.53128 8.26218 6.40002 8.09051 5.93989C7.91884 5.47976 7.72763 5.54817 7.59553 5.54287C7.46342 5.53839 7.3133 5.51355 7.16224 5.5079C7.0113 5.50225 6.76381 5.54982 6.5481 5.76846C6.33217 5.98722 5.72674 6.5127 5.68506 7.627C5.64327 8.74048 6.414 9.84736 6.52149 10.0023C6.62911 10.1577 7.99326 12.5721 10.2602 13.5651C12.5278 14.5578 12.5397 14.2551 12.9557 14.2329C13.372 14.211 14.3156 13.7352 14.5242 13.2139C14.7327 12.6927 14.7493 12.2394 14.6964 12.143C14.6433 12.0464 14.4947 11.9838 14.2725 11.8624ZM10.1142 17.23C8.61505 17.23 7.21864 16.7802 6.05265 16.0093L3.21557 16.9176L4.13771 14.176C3.25395 12.9588 2.73189 11.4632 2.73189 9.84736C2.73189 5.77635 6.0437 2.4643 10.1142 2.4643C14.1855 2.4643 17.4972 5.77635 17.4972 9.84736C17.4972 13.9181 14.1855 17.23 10.1142 17.23ZM10.1142 0.97876C5.21669 0.97876 1.24623 4.94922 1.24623 9.84736C1.24623 11.5228 1.71119 13.0899 2.51866 14.4267L0.917969 19.1846L5.82788 17.6128C7.09854 18.3152 8.55959 18.7158 10.1142 18.7158C15.0126 18.7158 18.983 14.7449 18.983 9.84736C18.983 4.94922 15.0126 0.97876 10.1142 0.97876Z" fill="#424242"/>
        </svg>`,
        wallet: `
        <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M22.4991 -0.000976562C27.8449 -0.000976562 31 3.08617 31 8.37071H24.4418V8.42464C21.3981 8.42464 18.9307 10.8389 18.9307 13.817C18.9307 16.7952 21.3981 19.2094 24.4418 19.2094H31V19.6947C31 24.9119 27.8449 27.999 22.4991 27.999H8.50089C3.15511 27.999 0 24.9119 0 19.6947V8.30331C0 3.08617 3.15511 -0.000976562 8.50089 -0.000976562H22.4991ZM29.8427 10.6894C30.4818 10.6894 31 11.1964 31 11.8218V15.7583C30.9926 16.3807 30.4787 16.8834 29.8427 16.8907H24.5658C23.0249 16.911 21.6775 15.8787 21.328 14.4102C21.153 13.4986 21.3987 12.5579 21.9993 11.8403C22.5998 11.1226 23.4939 10.7014 24.4418 10.6894H29.8427ZM25.1858 12.5094H24.676C24.363 12.5058 24.0616 12.6249 23.839 12.8402C23.6164 13.0555 23.4911 13.349 23.4911 13.6553C23.4911 14.2978 24.0194 14.8207 24.676 14.8281H25.1858C25.8402 14.8281 26.3707 14.309 26.3707 13.6687C26.3707 13.0284 25.8402 12.5094 25.1858 12.5094ZM16.0924 6.05198H7.34356C6.6945 6.05194 6.16621 6.56284 6.15867 7.19787C6.15867 7.84038 6.68694 8.36333 7.34356 8.37071H16.0924C16.7468 8.37071 17.2773 7.85165 17.2773 7.21135C17.2773 6.57105 16.7468 6.05198 16.0924 6.05198Z" fill="#424242"/>
        </svg>`,
        xmlid: `
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M19.7778 18.4952L10.9084 7.2586V4.54616V0.910012C10.9084 0.407982 10.5014 0.000976562 9.99937 0.000976562H5.75721C5.25517 0.000976562 4.84817 0.407982 4.84817 0.910012V4.54616C4.84817 5.04819 5.25517 5.45519 5.75721 5.45519H9.09034V7.2586L0.195481 18.5275C-0.0203846 18.801 -0.060867 19.1737 0.0910025 19.4872C0.242933 19.8007 0.560671 19.9998 0.909014 19.9998H19.0897C19.0902 19.9998 19.0906 19.9998 19.0909 19.9998C19.593 19.9998 20 19.5928 20 19.0907C20 18.8629 19.9162 18.6547 19.7778 18.4952ZM11.1848 12.0007L10.407 11.6115C10.4013 11.6086 10.3953 11.6066 10.3895 11.6038C10.3747 11.5968 10.3597 11.5902 10.3445 11.584C10.3309 11.5785 10.3175 11.5731 10.3038 11.5683C10.2905 11.5636 10.2772 11.5594 10.2637 11.5553C10.2481 11.5506 10.2325 11.546 10.2168 11.5421C10.2046 11.5391 10.1923 11.5366 10.18 11.5342C10.1634 11.5308 10.1466 11.5276 10.13 11.5251C10.1174 11.5233 10.1049 11.5222 10.0923 11.5209C10.076 11.5192 10.0597 11.5176 10.0434 11.5169C10.0294 11.5162 10.0154 11.5162 10.0013 11.5162C9.98652 11.5162 9.97186 11.5162 9.95719 11.5169C9.9415 11.5176 9.9258 11.5192 9.91017 11.5208C9.89701 11.522 9.88386 11.5233 9.87083 11.5252C9.85453 11.5276 9.83829 11.5307 9.82205 11.534C9.80932 11.5366 9.79666 11.5391 9.78411 11.5422C9.7686 11.546 9.75327 11.5505 9.73787 11.5552C9.72424 11.5592 9.71072 11.5635 9.69733 11.5682C9.68363 11.5731 9.67006 11.5785 9.65648 11.584C9.64151 11.5902 9.62667 11.5966 9.612 11.6035C9.60606 11.6063 9.6 11.6085 9.59406 11.6114L8.8146 12.0009L8.01955 11.5499L9.99937 9.04134L11.9796 11.55L11.1848 12.0007Z" fill="#424242"/>
        </svg>`,

    }
        



