extends ../local_modules/layout/_layout

prepend head
  title О компании
  meta(name="description", content="Описание страницы")

block content
  main.main
    section.sec1
      .img-bg.ibg
        +picture-jpg(`${assets}s1-bg`, ``, '', false)
      .container
        .page-location
          .base-dir Инвесторам
          .divider
          .current-dir О компании
        h1 GAS Capital - это профессиональная команда по управлению активами на финансовых рынках
        ul.sec1__points
          - var list = ['Надежность', 'Индивидуальный подход', 'Современные технологии']
          each item, idx in list
            li.sec1__points-item
              .num= idx + 1
              p= item
    section.sec2
      .container
        header 
          h2 Наша миссия:
          h4 Изменить финансовый менталитет российских инвесторов, системно увеличивая капитал и контролируя риски с&nbsp;абсолютной безопасностью и&nbsp;надежностью, помогая реализовать все&nbsp;стремления и мечты в сжатые сроки.

    section.sec3
      .container
        header
          h2 Наша деятельность<br class="d-lg-none"> и стратегия
        .sec3__main
          .block
            .title #[=companyName] - это профессиональная команда по управлению активами на<br class="d-lg-none"> финансовых рынках с&nbsp;10-летним опытом.
            .divider
            .text Стратегия нашей компании сформировалась за годы работы на&nbsp;финансовых рынках, а также изучения финансовых инструментов и&nbsp;многоуровневой аналитики. 
          .text-block
            p Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки.
            p При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.
            p Команда аналитиков нашей компании осуществляет  работу по различным направлениям, что не может не сказаться на результате, т.к. каждый является профессионалом в своем виде анализа. В дальнейшем полученная информация консолидируется и используется для получения прибыли.
          a.readmore(href="#") 
            span Читать полностью...
        footer
          p Благодаря использованию нашей стратегии, клиенты за последний год смогли заработать более 50% годовых к инвестированным средствам.
    
    section.sec4
      .img-bg.ibg
        +picture-jpg-lg(`${assets}s4-bg`, ``, '', false)
      .container
        header  
          h2 Основные направления #[=companyName]
          .divider-primary
        .tab-switcher
          .uk-slider-container
            ul.uk-slider-items
              -
                var items = [
                  "Мастер счет",
                  "Памм счет", 
                  "Доверительное управление",
                  "Инвестиции в IPO",
                  "Инвестиции в ICO",
                  "Фонд долевого участия с гарантией прибыли по договору",
                  "Управление активами на базе Block Chain",
                  "Участие в аукционах",
                  "Личный финансовый план"
                ]
              each item in items
                li
                  a(data-text=item)= item
          
          ul.uk-switcher-items
            each item in items
              li
                a(href="#" data-text=item)= item
          ul.uk-switcher
            -
              var list = [
                {
                  title: `Мастер счет`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Памм счет`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Доверительное управление`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Инвестиции в IPO`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Инвестиции в ICO`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Фонд долевого участия с гарантией прибыли по договору`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Управление активами на базе Block Chain`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Участие в аукционах`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                },
                {
                  title: `Личный финансовый план`,
                  descr: `
                  <p>Мы проводим фундаментальный и технический анализ на фондовых и производных рынках, используем авторские программы, кластерный анализ, анализ опционных уровней с использованием информации о торговле опционными контрактами на бирже, для расчета прибыли от планируемой сделки. </p>
                  <p>При работе с фундаментальным анализом, мы используем источники информации, которые доступны далеко не каждому участнику рынка, что дает нам преимущество перед конкурентами.</p>
                  `
                }
              ]
            each item, idx in list
              li
                .title!= item.title
                .descr!= item.descr
                if idx === 0
                  img(src=`${modules}companies.png` alt="" data-uk-img)
                a.uk-button.btn-solid(href="#")
                  span Подробнее

    section.sec5
      .img-bg.ibg
        +picture-jpg(`${assets}s5-bg`, ``, '', false)
      .container
        header
          h2 Наши рекорды<br> за 6 лет управления<br> капиталом
        .sec5__items
          .item
            .num 1
            .title Минимально
            .divider
            .descr
              b 8% 
              span  по портфелю за квартал
          .item
            .num 2
            .title Максимально
            .divider
            .descr
              b 290% 
              span  за месяц
    
    section.sec6.section-form
      .img-bg.ibg
        +picture-jpg-lg(`${assets}s6-bg`, ``, '', false)
      .container
        header
          h2 Оставьте заявку<br> на бесплатную консультацию
          h4 Наши эксперты проконсультруют вас и помогут начать инвестировать
        form.form-common(action="#")
          .form-main
            .form-input
              label Введите ваше имя:
              input.input.name(type="text" name="Имя" placeholder="Иван")
            .form-input
              label Введите ваш телефон:
              input.input.phone(type="tel" name="Телефон" placeholder="+7 (999) 999-99-99")
            button.form-submit.uk-button.btn-solid(type="submit")
              span Получить консультацию
          .agreement Оставляя заявку, вы даёте согласие на обработку персональных данных
    section.sec7
      .sec7__map.ibg
        +picture-jpg-lg(`${assets}s7-map`)
      .container
        .sec7__contacts
          h2 Наши контакты
          .divider
          ul
            li
              .icon!= iconset.calling
              a.phone(href=phoneLink)!= phoneNumber
            li
              .icon!= iconset.mail
              a.mail(href=`mailto:${mailAdress}`)!= mailAdress
            li
              .icon!= iconset.pin
              a.adress!= companyAdress
          .icons
            a(href=vkLink)!= iconset.vk
            a(href=fbLink)!= iconset.fb
            a(href=instLink)!= iconset.inst
            a(href=tgLink)!= iconset.tg
            a(href=waLink)!= iconset.wa




            


                



